<%include partials/header.ejs%>
<!-- This page doesn't have personal links
    it can be removed without affecting other pages
-->
<section id="fh5co-aboutSection" data-section="home" style="background-image: url(images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container" ">
    <div class="text-wrap" >
        <section id="fh5co-about" data-section="about">
            <div class="container" >
                <div class="row">
                    <div class="col-md-12 section-heading text-center" id="aboutSection">
                        <div class="row">
                            <div class="col-md-8 col-md-offset-2">
                                <h2 id="aboutText">Meet the team behind this project</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-4" >
                        <div class="fh5co-person text-center ">
                            <figure><img src="images/person1.jpg" alt="Image"></figure>
                            <h3 id="aboutName">Richard Carroll</h3>
                            <span class="fh5co-position" id="aboutSpecifc">Back-End Developer</span>
                            <p>Managed the database as well as the interaction between the server and emulator.</p>
                            <ul class="social social-circle">
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fh5co-person text-center">
                            <figure><img src="images/person2.jpg" alt="Image"></figure>
                            <h3 id="aboutName">Zachary Cash</h3>
                            <span class="fh5co-position" id="aboutSpecifc" >Back-End Developer</span>
                            <p>Responsible for managing the general server side web application logic.</p>
                            <ul class="social social-circle">
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="fh5co-person text-center">
                            <figure><img src="images/person3.jpg" alt="Image"></figure>
                            <h3 id="aboutName">Melissa Gonzalez</h3>
                            <span class="fh5co-position" id="aboutSpecifc">Front-End Developer</span>
                            <p> Responsible for the implementation of the visual elements.
                            Developed an the overall user interface.</p>
                            <ul class="social social-circle">
                                <li><a href="#"><i class="icon-linkedin"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>

<%include partials/footer.ejs%>
