<%include partials/header.ejs%>

<section id="fh5co-help">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-left">
                <h2 class=" left-border">Questions?</h2>
                <div class="row">
                    <div class="col-md-8 subtext">
                        <h3>If you are having account, program, or searching issues or concerns, the following
                        information explains in detail how each feature works. 
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 fh5co-service">
                <i class="icon icon-user"></i>
                <h3>Account issues or questions?</h3>
                <p> In order to create an account, you need to have a
                    unique email, username and password.
                    <br>
                    To log into your account you will only need to
                    enter your username and password.
                </p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service">
                <i class="icon icon-user-secret"></i>
                <h3>Privacy concerns? </h3>
                <p>
                    Your source code will remain private at all times.
                    Sharing your program's link with others does not mean they will see any code.
                    They will only be able to execute your program to see what it produces.
                    Because your programs are saved onto your personal account, only you will be able to
                    upload or delete programs. No code will be publicly accessible.
                </p>
            </div>
        </div>
        <div class="row">
            <div  class="clearfix visible-sm-block"></div>
            <div class="col-md-6 col-sm-6 fh5co-service">
                <i class="icon icon-share-alt"></i>
                <h3>How can I share my programs?</h3>
                <p>You can share a specific program by sharing the link to the program you would like to share.
                    You can also search for your own project by either username or title of program. The link to your
                    program can also be shared with others this way.
                </p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service">
                <i class="icon icon-delete"></i>
                <h3>Deleting an existing program?</h3>
                <p> If you are having trouble deleting a program from your account make sure you've done the following:</p>
                <ol>
                    <li>You are logged into your personal account</li>
                    <li>The program you are trying to delete has been successfully uploaded</li>
                </ol>
                <br>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 fh5co-service">
                <i class="icon icon-search2"></i>
                <h3>How can I explore other's projects?</h3>
                <p> You can search for existing programs by username or title if you know either one.
                    You can also search for programs based on level of dificulty.
                </p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service">
                <i class="icon icon-upload"></i>
                <h3>Trouble uploading file?</h3>
                <p>If you are having issues with uploading a file onto your account make sure you've done the following:</p>
                <ol>
                    <li>Successfully log into your account. </li>
                    <li>Select the button to upload a new file.</li>
                    <li>Choose a python file (check it has a <b>.py</b> extension)</li>
                </ol>
                <p> If you have done all the above, and are still having trouble, our site may have detected harmful
                    code within your file and it will not allow you to upload.
                </p>
            </div>
        </div>
    </div>
</section>

<%include partials/footer.ejs%>
