<%include partials/header.ejs%>
<!-- Main page -->
<section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 id="mainHeading">Program. Upload. Share.</h1>
                        <h2> Share your program's execution!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slant"></div>
</section>
<!-- Main features -->
<section id="fh5co-intro">
    <div class="container">
        <div class="row row-bottom-padded-lg">
            <div class="fh5co-block " style="background-image: url(images/img_7.jpg);">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon icon-star"></i>
                    <h2>Welcome!</h2>
                    <p>Get started by creating an account</p>
                    <p><a href="createAccount" class="btn btn-primary">Create Account</a></p>
                </div>
            </div>
            <div class="fh5co-block" style="background-image: url(images/img_8.jpg);">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon icon-user"></i>
                    <h2>Returning User</h2>
                    <p>Do you already have an account?</p>
                    <p><a href="login" class="btn btn-primary">Log in</a></p>
                </div>
            </div>
            <div class="fh5co-block" style="background-image: url(images/img_10.jpg);">
                <div class="overlay-darker"></div>
                <div class="overlay"></div>
                <div class="fh5co-text">
                    <i class="fh5co-intro-icon icon-rocket"></i>
                    <h2>Projects</h2>
                    <p> Search a programs by username or levels </p>
                    <p><a href="searchProjects" class="btn btn-primary">Explore</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Description of features -->
<section id="fh5co-services" data-section="services">
    <div class="container">
        <div class="row">
            <div class="col-md-12 section-heading text-left">
                <h2 class=" left-border">Features</h2>
                <div class="row">
                    <div class="col-md-8 subtext">
                        <h3>We provide the necessary features to showcase your programs. </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 fh5co-service">
                <i class="icon icon-layers2"></i>
                <h3>Personal Account</h3>
                <p>Upload and store programs onto your own account. This is how you and others will be able to find and run your programs. </p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service">
                <i class="icon icon-lock"></i>
                <h3>Privacy</h3>
                <p>Although users will be able to execute uploaded programs, no source code will be made public. Our focus is to
                display and share only a program's output.</p>
            </div>

            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-6 col-sm-6 fh5co-service">
                <i class="icon icon-share"></i>
                <h3>Share</h3>
                <p>Share what your program produces with anyone regardless of their programming experience.</p>
            </div>
            <div class="col-md-6 col-sm-6 fh5co-service">
                <i class="icon icon-search"></i>
                <h3>Explore</h3>
                <p>You do not need an account in order to explore what others have created. Browse through program levels
                or search for a specific username. </p>
            </div>

        </div>
    </div>
</section>



<%include partials/footer.ejs%>
