<%include partials/header.ejs%>
<!-- Login Page -->
<section id="fh5co-home" data-section="home" style="background-image: url(images/full_image_2.jpg);" data-stellar-background-ratio="0.5">
    <div class="gradient"></div>
    <div class="container">
        <div class="text-wrap">
            <div class="text-inner">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 id="mainHeading">Program. Upload. Share.</h1>
                        <h2> Share your program's execution!</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="slant"></div>
</section>


<section id="fh5co-account" data-section="contact">
    <div class="container" id="loginPage">
        <div class="row">
            <div class="col-md-12 section-heading text-center">
                <h2>Welcome Back!</h2>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2 subtext">
                        <!-- Display errors when logging in -->
                        <h3>Log into your account</h3>
                        <% if (error) { %>
                        <ul>
                            <% error.forEach(function (error) { %>
                            <div class="alert alert-danger">Error:  <%= error %></div>
                            <% }) %>
                        </ul>
                        <%}%>
                    </div>
                </div>
            </div>
        </div>

        <div class="row row-bottom-padded-md">
            <!-- Log in form -->
            <div class="col-md-12 ">
                <form action="/login" method="post" class="form-signin" id="loginSection">

                    <input type="text1" class="form-control" name="username" id="username" placeholder="Username" required="" autofocus="" style = "margin-bottom: 10px;"/>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Password" required="" />
                    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
                    <a href="#" id="loginText">Forgot Password?</a>
                </form>
            </div>
        </div>

    </div>

</section>


<%include partials/footer.ejs%>
