
<% include partials/header.ejs%>

<body>

<h1>Search for Projects</h1>

<nav class="navbar navbar-expand-sm navbar-custom">
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbar3">
        <span class="navbar-toggler-icon custom-toggler"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar3">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home<span class="sr-only">Home</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="createAccount">Account</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="projectsPage">Search Projects</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="help">Help</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">

    <div class="row content">
        <div class="col-sm-6 leftHalf">
            <p> Will be able to search projects</p>
        </div>

        <div class="col-sm-6 rightHalf">
            <p>Some more info.......</p>
        </div>
    </div>
</div>


<% include partials/footer.ejs%>