<!-- if you want to output a value you need to use
     the = after the %. -->
<% include partials/header.ejs%>


<h1> Run Page </h1>

<h1> Welcome to the Run Page! </h1>


<iframe src="/user/<%= name %>/runPage/echo" style="width:800px;height:500px"> </iframe>

<% include partials/footer.ejs%>