<!DOCTYPE html>
<html lang="en">
<head> <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="frontpage.css">
    <title>Project</title>
</head>
<body>
<h1>Projects</h1>
<nav>
    <div class="menu" id="my_menu">
        <a href="frontpage.html" >Home</a>
        <a href="projects.html" class="active">Projects</a>
        <a href="#about">About</a>
    </div>
</nav>
<section>
    <form id="input">
        Input Number:
        <input type="text" name="number"><br>
        <button type = "button" class="btn btn-dark">Print</button>
    </form>
</section>
<footer>
    <p>Project Showcase</p>
</footer>
</body>
</html>